.list__tasks {
    padding: 0px;
    margin-top: 2px;
}

.list__task {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    word-break: break-word;
    grid-gap: 20px;
    padding: 10px 15px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
}

.list__task--done {
    text-decoration: line-through;
}